<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<h1 id="header">Order</h1>
<div class="list-order">
  <div class="filter-search">
      <div class="search-bar">
          <input type="text" placeholder="search">
      </div>
      <div id="filter">
          <select name="" id="">
              <option value="">Order-ID</option>
              <option value="">Status</option>
          </select>
      </div>
  </div>
  <div class="order-list-container">
      <table>
          <tr>
              <th>Order-ID</th>
              <th>Name</th>
              <th>Mail</th>
              <th>Date</th>
              <th>Total</th>
              <th>Paid</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
          <% orders.forEach(function(order){ %>
            <tr>
              <td><%= order._id %></td>
              <td><%= order.customerName %></td>
              <td>
                <ul>
                  <% order.products.forEach(function(product){ %>
                    <li><%= product.name %> - $<%= product.price %></li>
                  <% }); %>
                </ul>
              </td>
              <td>$<%= order.products.reduce((accumulator, product) => accumulator + product.price, 0).toFixed(2) %></td>
              <td>
                <!-- Add the "Edit" and "Delete" buttons -->
                <a href="/edit-order/<%= order._id %>" class="btn btn-primary">Edit</a>
                <a href="/delete-order/<%= order._id %>" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this order?');">Delete</a>
              </td>
            </tr>
          <% }); %>
          <tr class="data">
              <td class="id">002</td>
              <td id="name">Kafka</td>
              <td id="mail">kafka@example.com</td>
              <td class="date-time">May 4th 2023</td>
              <td id="price">$85.00</td>
              <td id="payment-method"> via Card</td>
              <td id="status">Not Delivered</td>
              <td><a href="/assets/html/order-detail.html"><i class="fa-solid fa-eye fa-lg"></i></a></td>
          </tr>
      </table>
  </div>
</div>

<%- include ('partials/footer') %>

