<!-- Semester: 2023A
Assessment: Assignment 2
Author: 
    To Bao Minh Hoang: s3978554
    Le Viet Bao: s3979654
    Huynh Ngoc Giang My: s3978986
    Luu van Thien Toan: s3979512
Acknowledgement: https://youtube.com/watch?v=991fdnSllcw&feature=share - live search bar, chatgpt, Mr Tom Huynh's RMIT Store -->

<%- include('partials/head') %>
<%- include('partials/nav') %>

<main class="main-order" id="shipper_main">
    <h1>Your Shopping Cart</h1>
    <% if (!cart.items || cart.items.length === 0) { %>
        <p>Your shopping cart is empty.</p>
    <% } else { %>
        <div class="order-list-container">
            <table class="tables">
                <tr class="trs">
                    <th class="ths">Order-ID</th>
                    <th class="ths">Product Name</th>
                    <th class="ths">Total</th>
                    <th class="ths">Action</th>
                </tr>
                <% let totalQuantity = 0; %>
                <% cart.items.forEach(item => { %>
                    <% totalQuantity += Number(item.quantity); %>
                    <tr class="trs">
                        <td class="tds"><%= item.orderId %></td>
                        <td class="tds"><%= item.name %></td>
                        <td class="tds"><%= item.product %></td>
                        <td class="tds"><%= item.total %></td>
                        <td class="tds"><a href="/order-page">Order</a></td>
                    </tr>
                <% }); %>
            </table>
            <p>Total: <%= totalQuantity %> items</p>
        </div>
    <% } %>
</main>


<%- include('partials/footer') %>
