<%- include('partials/head') %>
<%- include('partials/nav') %>

<main class="main-order" id="shipper_main">
    <h1>Your Shopping Cart</h1>
    <% if (!cart.items || cart.items.length === 0) { %>
        <p>Your shopping cart is empty.</p>
    <% } else { %>
    <div class="order-list-container">
    <table class="tables">
        <tr class="trs">
            <th class="ths">Order-ID</th>
            <th class="ths">Name</th>
            <th class="ths">Product</th>
            <th class="ths">Total</th>
            <th class="ths">Action</th>
        </tr>
        <tr>
            <ul>
            <% let totalQuantity = 0; %>
            <% cart.items.forEach(item => { %>
                <% totalQuantity += Number(item.quantity); %>
                <td class="tds">
                    <li>
                        <h2><%= item.name %></h2>
                        <p>Price: <%= item.price %> USD</p>
                        <p>Quantity: <%= item.quantity %></p>
                    </li>
                </td>
            <% }); %>
            </ul>
            <td class="tds">
                <p>Total: <%= totalQuantity %> items</p>
            </td>
        </tr>        
    <% } %>
    </table>
    </div>
<button class="finish-btn"><a href="/order-page">Order</a></button>

</main>


<%- include('partials/footer') %>
