<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<main class="product-page-main">
  <body>
    <h1>Dog Page Products</h1>
    <form action="/products" method="GET">
      <input type="number" name="minPrice" placeholder="Minimum Price">
      <input type="number" name="maxPrice" placeholder="Maximum Price">
      <input type="submit" value="Filter">
    </form>
    <% if (products.length === 0) { %>
      <p>No products found in the Dog Page category.</p>
    <% } else { %>
    <section class="show-products">
      <% products.forEach((product) => { %>
        <div class="box-container">
          <div class="box">
            <span class="name"><a href="/product-detail/<%= product._id %>"><%= product.name %></a></span>
            <span class="price">Price: <%= product.price %></span>
            <img src="/images/<%= product.image.replace(/\\/g, '/').replace('public/', '')%>" alt="<%= product.image.replace(/\\/g, '/') %>">
            <form method="post" action="/cart">
              <input type="hidden" name="productId" value="<%= product._id %>" />
              <input type="hidden" name="quantity" value="1" />
              <div class="flex-btn">
                <button type="submit" class="cart-btn">Add to Cart</button>
              </div>
            </form>
          </div>
        </div>

        <% }); %>
    </section>
    <% } %>

    <!-- Add any additional HTML, CSS, or JavaScript as needed -->
  </body>
</main>

<%- include ('partials/footer') %>
