<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<button id="return"><a href="/manage-orders">RETURN TO ORDERS</a></button>
    <div class="h-container">
        <div class="header-container">
            <div class="info">
                <div class="date-time">May 4th 2023</div>
                <div class="id">Order-ID: <%= order._id %></div>
            </div>
            <select name="status" id="status">
                <option value="" disabled selected>Change Status</option>
                <option value="text">Preparing</option>
                <option value="text">Delivered</option>
            </select>
        </div>
        <div class="body-container">
            <div class="customer">
                <h4>Customer</h4>
                <div class="name"><%= order.customerName %></div>
                <div class="phone">09811122233</div>
            </div>
            <div class="order-info">
                <h4>Order info</h4>
                <div>Address:
                    <span id="address">
                        221B Baker Street <br>
                        London
                    </span>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table class="table">
                <tr class="tr">
                    <th class="th">Product</th>
                    <th class="th">Total</th>
                </tr>
                <tr class="tr">
                    <td class="td">
                        <ul>
                            <% order.products.forEach(function(product){ %>
                              <li><%= product.name %> - <span class="price">$<%= product.price %></span></li>
                            <% }); %>
                        </ul>
                    </td>
                    <td class="td" id="result">$<%= order.products.reduce((accumulator, product) => accumulator + product.price, 0).toFixed(2) %></td>
                </tr>
            </table>
        </div>
    </div>

<%- include ('partials/footer') %>
