<!-- Semester: 2023A
Assessment: Assignment 2
Author: 
    To Bao Minh Hoang: s3978554
    Le Viet Bao: s3979654
Acknowledgement: https://youtube.com/watch?v=991fdnSllcw&feature=share - live search bar, chatgpt, Mr Tom Huynh's RMIT Store -->

<%- include ('partials/head') %>
  <%- include ('partials/nav') %>
    <%- include ('partials/banner') %>
  
      <!--==========Main Section==========-->
      <main>
        <div class="album py-5 bg-body-tertiary" id="products">
          <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


              <% products.forEach(function(product){ %>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="/images/<%= product.image %>" alt="<%= product.image %>">
                    <div class="card-body">
                      <h3 class="card-title">
                        <%= product.name %>
                      </h3>
                      <h4 class="card-text text-danger">
                        <%= product.price %> AUD
                      </h4>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="product/<%= product.id %>" type="button" class="btn btn-primary btn-lg px-4 me-md-2">View</a>
                          <a href="/edit-product/<%= product.id %>" class="btn btn-primary btn-lg px-4 me-md-2">Edit Product</a>
                          <a href="/product/<%= product.id %>/delete" type="button" class="btn btn-danger btn-lg px-4">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        </div>
      </main>

      <!--==========Main Section==========-->
      <%- include ('partials/footer') %>