<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<<<<<<< Updated upstream
<div class="main-orders">
<div class="list-order">
  <div id="filter">
      <select name="" id="">
          <option value="">Order-ID</option>
          <option value="">Status</option>
      </select>
  </div>
=======
<h1 id="header">Manage Orders</h1>
<div class="list-order">
>>>>>>> Stashed changes
  <div class="order-list-container">
    <table class="tables">
      <tr class="trs">
        <th class="ths">Order ID</th>
        <th class="ths">Customer Name</th>
        <th class="ths">Customer Address</th>
        <th class="ths">Customer Phone</th>
        <th class="ths">Products</th>
        <th class="ths">Total Price</th>
        <th class="ths">Status</th>
        <th class="ths">Action</th>
      </tr>
      <% orders.forEach(function(order){ %>
      <tr class="trs">
        <td class="tds"><%= order._id %></td>
        <td class="tds"><%= order.customerName %></td>
        <td class="tds"><%= order.customerAddress %></td>
        <td class="tds"><%= order.customerPhone %></td>
        <td class="tds">
          <ul>
            <% order.products.forEach(async function(product){ %>
              <% const productDetails = await Product.findById(product.productId.toString()).lean(); %>
              <% if (productDetails) { %>
                <li><%= productDetails.name %> - <span class="price">$<%= productDetails.price.toFixed(2) %></span></li>
              <% } else { %>
                <li>No product details available</li>
              <% } %>
            <% }); %>
          </ul>
        </td>
        <td class="tds">$<%= order.total.toFixed(2) %></td>
        <td class="tds"><%= order.status %></td>
        <td class="tds" id="last-childe">
          <!-- Add the "Edit" and "Delete" buttons -->
          <a href="/edit-order/<%= order._id %>" class="edit-btn">Edit</a>
          <a href="/delete-order/<%= order._id %>" class="edit-btn" onclick="return confirm('Are you sure you want to delete this order?');">Delete</a>
        </td>
      </tr>
      <% }); %>
    </table>
  </div>
</div>
</div>

<%- include ('partials/footer') %>
