<%- include ('partials/head') %>
<%- include ('partials/nav') %>

  <!--==========Order Summary Section==========-->
  <h1>Order Summary</h1>

  <p>Order ID: <%= order._id %></p>
  <p>Name: <%= order.customerName %></p>
  <p>Address: <%= order.customerAddress %></p>
  <p>Phone: <%= order.customerPhone %></p>
  <p>Distribution Hub: <%= order.distributionHub %></p>
  
  <ul>
  <% order.products.forEach(item => { %>
      <li>
          <h2><%= item.productId.name %></h2>
          <p><%= item.productId.description %></p>
          <p>Price: <%= item.productId.price %> USD</p>
          <p>Quantity: <%= item.quantity %></p>
      </li>
  <% }); %>
  </ul>
  
  <p>Total: <%= order.total %> USD</p>
  
  <!--==========Order Summary Section==========-->


<%- include ('partials/footer') %>