<!-- Semester: 2023A
Assessment: Assignment 2
Author: 
    To Bao Minh Hoang: s3978554
    Le Viet Bao: s3979654
    Huynh Ngoc Giang My: s3978986
    Luu van Thien Toan: s3979512
    Pho An Ninh: s3978162
Acknowledgement: https://youtube.com/watch?v=991fdnSllcw&feature=share - live search bar, chatgpt, Mr Tom Huynh's RMIT Store -->

<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<main>

    <!-- 
      - PRODUCT DETAIL
    -->

        <section id="details">
            <div class="group-imgs">   
                <div class="big-img">
                    <img src="/images/<%=product.image.replace(/\\/g, '/').replace('public/', '') %>" alt="<%= product.image.replace(/\\/g, '/') %>" width="100%" id="main-img">
                </div>
            </div> 

            <div class="product-detail">
                <h1><%= product.name %></h1>
                <h2 id="price">$<%= product.price.toFixed(2) %></h2>
                <form method="post" action="/cart">
                    <input type="hidden" value="<%= product._id.toString() %>" name="productId" />
                    <input type="number" value="1" name="quantity" min="1" /> <!-- Add name attribute here -->
                    <button class="add-to-cart-btn">Add to cart</button>
                </form>
                <h4>Description</h4>
                <p><%= product.description %></p>
            </div>
        </section>

  </main>


  <!-- 
    - #NEWSLETTER
  -->

  <section id="newsletter" class="section newsletter-signup" aria label="newsletter-signup">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>Get E-mail updates about our latest shop and special offers.</p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your Email address">
        <button class="normal">Sign Up</button>
    </div>
</section>

<%- include ('partials/footer') %>

