<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<main>
  <div class="container">
    <h1>Profile</h1>
    <div class="profile-picture-container">
      <img src="<%= user.profilePicture %>" alt="Profile Picture" class="profile-picture">
    </div>
    <form action="/profile" method="POST">
      <div class="mb-2">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>" required>
      </div>
      <div class="mb-2">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
<br>  
    <a href="/logout" class="btn btn-secondary">Sign Out</a> <!-- Sign Out button -->
  </div>
</main>

<%- include ('partials/footer') %>
