<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<main>
  <div class="profile-container">
    <h1>Your Profile</h1>
    <div class="profile-picture-container">
      <img src="<%= user.profilePicture %>" alt="Profile Picture" class="profile-picture">
    </div>
    <form action="/profile" method="POST">
      <div class="mb-2">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>" required>
      </div>

        <div class="mb-2"  >
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="signout-savechanges-buttons">
          <button type="submit" class="btn btn-primary">Save Changes</button>
          <a href="/logout" class="btn btn-secondary">Sign Out</a> <!-- Sign Out button -->
        </div>
    </form>
    <br>  
  </div>
</main>

<%- include ('partials/footer') %>
