<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<main id="shipper_main">
  <h1>Shipper Dashboard</h1>
  <table class="table-shipper">
    <thead>
      <tr class="tr">
        <th class="th">Order ID</th>
        <th class="th">Customer Name</th>
        <th class="th">Customer Address</th>
        <th class="th">Customer Phone</th>
        <th class="th">Products</th>
        <th class="th">Total Price</th>
        <th class="th">Status</th>
        <th class="th">Action</th>
      </tr>
    </thead>
    <tbody>
      <% orders.forEach(order => { %>
        <tr class="tr">
          <td class="tds"><%= order._id %></td>
          <td class="tds"><%= order.customerName %></td>
          <td class="tds"><%= order.customerAddress %></td>
          <td class="tds"><%= order.customerPhone %></td>
          <td class="tds">
            <% order.products.forEach(product => { %>
              <% if (product.details) { %>
                <p><strong>Name:</strong> <%= product.details.name %></p>
                <p><strong>Quantity:</strong> <%= product.quantity %></p>
                <p><strong>Price:</strong> <%= product.details.price %></p>
              <% } else { %>
                <p>No product details available</p>
              <% } %>
            <% }); %>
          </td>
          <td class="tds"><%= order.total %></td>
          <td class="tds"><%= order.status %></td>
          <td class="tds">
            <% if (order.status === 'active') { %>
              <form action="/shipper/update-status/<%= order._id %>" method="POST">
                <button type="submit" class="finish_btn">Mark as Completed</button>
              </form>
              <form action="/shipper/cancel-order/<%= order._id %>" method="POST">
                <button type="submit" class="cancel_btn">Cancel Order</button>
              </form>
            <% } else if (order.status === 'completed') { %>
              <span>Completed</span>
            <% } else if (order.status === 'canceled') { %>
              <span>Canceled</span>
            <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</main>

<%- include ('partials/footer') %>