<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<link rel="stylesheet" href="/public/css/styles.css">
<link rel="stylesheet" href="/public/css/admin-style.css">


<span class="admin-heading">Vendor Dashboard</span>

<section class="show-products">
  <% products.forEach(function(product){ %>
    <div class="box-container">
      <div class="box">
        <img src="/images/<%= product.image %>" alt="<%= product.image %>">
        <h3 class="card-title">
          <%= product.name %>
        </h3>
        <h4 class="card-text text-danger">
          <%= product.price %> AUD
        </h4>
          <div class="flex-btn">
            <a href="product/<%= product._id %>" type="button" class="admin-btn">View</a>
            <a href="/edit-product/<%= product._id %>" class="update-btn">Edit Product</a>
            <a href="/product/<%= product._id %>/delete" type="button" class="delete-btn">Delete</a>
          </div>
      </div>
    </div>
  <% }); %>
    
</section>

<%- include ('partials/footer') %>
