<%- include ('partials/head') %>
<%- include ('partials/nav') %>

<main>
  <div class="container">
    <h1>Vendor Dashboard</h1>
    <div class="album py-5 bg-body-tertiary" id="products">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <% products.forEach(function(product){ %>
            <div class="col">
              <div class="card shadow-sm">
                <img src="<%=product.image.replace('public\\', '').replace(/\\/g, '/') %>" alt="<%= product.image %>">
                <div class="card-body">
                  <h3 class="card-title">
                    <%= product.name %>
                  </h3>
                  <h4 class="card-text text-danger">
                    <%= product.price %> AUD
                  </h4>
                    <div class="flex-btn">
                      <a href="product-detail/<%= product._id %>" type="button" class="admin-btn">View</a>
                      <a href="/edit-product/<%= product._id %>" class="update-btn">Edit Product</a>
                    </div>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ('partials/footer') %>
